#masterUI.ng-enter {
  transition: left 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1000ms linear;
  left: 150px;
  position: absolute;
  opacity: 0;
}

#masterUI.ng-enter-active {
  opacity: 1;
  position: relative;
  left: 0px;
}

#masterUI {
  z-index: 50;
}

#workUI.ng-enter {
  transition: right 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1000ms linear;
  right: 150px;
  position: absolute;
  opacity: 0;
}

#workUI.ng-enter-active {
  opacity: 1;
  position: relative;
  right: 0px;
}

.project-uno,
.project-dos, .project-tres, .project-quattro {

}

.project-uno:hover,
.project-dos:hover, .project-tres:hover, .project-quattro:hover {
  border-bottom: 3px solid black;
  opacity: 1;
}
