<div class="container">
  <div class="row">
    <div class="four columns sub-head text">Brew Origens LA</div>
    <p class="four columns sub">Brew Code is a web application designed
      for coffee lovers to rate their favorite roasts. Following a
      rating system as seen on AWWWARDS.com, I emulated a yelp-like
      repository for users to discover new roasts, and upvote their
      favorite blends. Some add-ons were a facebook-style newsfeed as
      well as a community page for adding users as friends.
    </p>
    <img class="four columns project-image" src="/images/BrewOrigensLA.png" alt="">
  </div>
</div>
