<div class="container">
  <div class="row">
    <p class="four columns sub">Brew Code is a web application designed
      for coffee lovers to rate their favorite roasts. Following a
      rating system as seen on AWWWARDS.com, I emulated a yelp-like
      repository for users to discover new roasts, and upvote their
      favorite blends. Some add-ons were a facebook-style newsfeed as
      well as a community page for adding users as friends.</p>
    <img class="four columns project-image" src="/images/BrewOrigensLA.png" alt="">
    <div class="four columns project-icons">
        <img class="two columns project-icon" src="/images/RubyOnRails.png" alt="">
        <img class="two columns project-icon" src="/images/activerecord.png" alt="">
        <img class="two columns project-icon" src="/images/PostgreSQL.png" alt="">
        <img class="two columns project-icon" src="/images/heroku.png" alt="">
        <img class="two columns project-icon" src="/images/bootstrap.png" alt="">
    </div>
  </div>
</div>

