<div class="sub-head">hello.</div>
<h3 class="sub">Thanks for stopping by. This experience is curated just
  for you. I strongly believe in thoughtful design and an innovative
  infrastructure. As a human creating products for humans, I take effort
  to ensure they collide in my work.
  <br>
  <strong>...</strong>
  <br>
  Sit back and relax, you've done the hard part. Let me prove why you're
  looking in the right place.</h3>


<div class="container">
  <div class="row">
    <a href="https://www.github.com/teembokeem">
      <img class="icons" src="/images/ghub.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/timmyungkim">
      <img class="icons" src="/images/linkedin.png" alt="">
    </a>
    <a href="https://profiles.generalassemb.ly/tim-kim">
      <img class="icons" src="/images/ga.png" alt="">
    </a>
    <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=myungtkim@gmail.com">
      <img class="icons" src="/images/gmail.png" alt="">
    </a>
    <img class="icons" src="/images/cell.png" alt=""> <p>858 342 7081</p>
  </div>
</div>
