<div class="container">
  <div class="row">
    <p class="four columns sub"> Momentum is a blogging platform,
    visually designed to turn your content and pictures into something
    memorable. We take a post's data to visualize each moment you record
    as a unique crystal; no two crystals are the same. It's built on the
    idea that our experiences mean more to us than a 140 character tweet
    or a thousand likes.</p>
    <img class="four columns project-image" src="/images/Momentum.png">
    <div class="four columns project-icons">
        <img class="two columns project-icon" src="/images/mongodb.png" alt="">
        <img class="two columns project-icon" src="/images/express.png" alt="">
        <img class="two columns project-icon" src="/images/angular.png" alt="">
        <img class="two columns project-icon" src="/images/NodeJS.png" alt="">
        <img class="two columns project-icon" src="/images/Materialize.png" alt="">
        <img class="two columns project-icon" src="/images/threeJS.png" alt="">
        <img class="two columns project-icon" src="/images/Heroku.png" alt="">
    </div>
  </div>
</div>



