<div class="container">
  <div class="row">
    <div class="four columns project-head text">VURS.</div>
    <p class="four columns sub"> Our app, VURS works to solve how music
    radio platforms generate song recommendations by asking the
    community to upvote. We believe that crowdsourced recommendations
    from users with relevant music knowledge would produce the most
    accurate suggestions. As project manager, I notated milestones, and
    worked alongside partners to ensure deadlines were practical and
    manageable during the week-long sprint, and as creative director,
    designed a simple theme that was culturally relevant and poignant.
    Our case studies and ideation sprints analyzed apps like Pandora,
    Spotify, among others. </p>
    <img class="four columns project-image" src="/images/VURS.png">
  </div>
</div>
