
<div class="container">
  <div class="row">
    <p class="four columns sub">Designed and implemented code that utilized Front-end
      frameworks and languages to build out a web page that incorporated
      game logic. This turn-based role-playing game involves query-response
      interactions between a player's actions and programmed language. This
      project revealed a level of complexity and insight into what it takes
      to develop a truly fun, addicting, and exciting game. </p>
    <img class="four columns project-image" src="/images/Gauntlet.png" alt="">
    <div class="four columns project-icons">
        <img class="two columns icon" src="/images/html5.png" alt="">
        <img class="two columns icon" src="/images/css3.png" alt="">
        <img class="two columns icon" src="/images/js.jpg" alt="">
        <img class="two columns icon" src="/images/jquery.png" alt="">
    </div>
  </div>
</div>

