<!-- <button class="sub" type="text" ui-sref="work.uno">P R O J E C T 1</button>
<button class="sub" type="text" ui-sref="work.dos">P R O J E C T 2</button>
<button class="sub" type="text" ui-sref="work.tres">P R O J E C T 3</button>
<button class="sub" type="text" ui-sref="work.quattro">P R O J E C T 4</button> -->
<!-- <div class="container projects">
  <div class="row project-titles">
    <div ui-sref="work.uno" class="project-title project-uno"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">1</p></div>
    <div ui-sref="work.dos" class="project-title project-uno"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">2</p></div>
    <div ui-sref="work.tres" class="project-title project-uno"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">3</p></div>
    <div ui-sref="work.quattro" class="project-title project-uno"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">4</p></div>
  </div>

</div> -->

<main id="workUI" ui-view>
  <div class="sub-head text">work.</div>
  <div class="container projects">
    <div class="row project-titles">
      <div ui-sref="work.uno" class="project-title project-uno"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">1</p></div>
      <div ui-sref="work.dos" class="project-title project-dos"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">2</p></div>
      <div ui-sref="work.tres" class="project-title project-tres"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">3</p></div>
      <div ui-sref="work.quattro" class="project-title project-quattro"><p class="fig sub">Fig.</p><p class="zero">o</p><p class="project-num sub">4</p></div>
    </div>
  </div>
</main>

